---
import CustomLayout from "../layouts/CustomLayout.astro";


---

<CustomLayout title="Private repository">
    <div class="div-center">
        <h1 class="permanent-marker">Sorry,this is a private repository</h1>
        <img src="../../public/footerIcons/githubIcon.svg" width="500px"/>
    </div>
</CustomLayout>